* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 10%;
    background-color: #F5F3EF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

nav {
    display: flex;
    column-gap: 20px;
}


header button {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 16px 25px;
}

.hamburger-icon {
    display: none;
    order: 4;
}

#hamburger {
    display: none;
}

.banner {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.banner-left {
    display: flex;
    flex-direction: column;
}

.banner-h1 {
    color: #000000;
    font-family: 'Roboto Serif';
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
    font-style: normal;
}

.banner-p {
    color: #000000;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    width: 80%;
    padding-top: 30px;
}

.banner-img {
    width: 45%;
}


@media (max-width: 768px) {
    .hamburger-icon {
        display: block;
        font-size: 40px;
    }

    header nav, header button {
        display: none;
    }

    header img {
        padding-left: 30%;
    }

    #hamburger:checked ~ nav{
        display: flex;
    }

    #hamburger:checked ~ button{
        display: flex;
    }

    header nav{
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 20px 0;
        gap: 10px;
    }

    header button{
        position: absolute;
        top: 160px;
        left: 40%;
        background-color: #000000;
        width: 20%;
    }
}


